#scene{
    margin:0;
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    perspective:800px;
}

#cube{
    width:150px;
    height:150px;
    position:relative;
    transform-style:preserve-3d;
}

#cube > div{
    position:absolute;
    width:150px;
    height:150px;
    background:rgba(0,150,255,0.5);
    border:2px solid white;
}

.front{transform:translateZ(75px);}
.back{transform:rotateY(180deg) translateZ(75px);}
.left{transform:rotateY(-90deg) translateZ(75px);}
.right{transform:rotateY(90deg) translateZ(75px);}
.top{transform:rotateX(90deg) translateZ(75px);}
.bottom{transform:rotateX(-90deg) translateZ(75px);}
#scene{
    margin:50px auto;
}
